@import url(./fonts.css);

:root {
  --color-yellow: #fecd3d;
  --color-forest-green: #228c22;
  --color-wine: #9d001b;
  --color-red: #c70000;
  --color-orange: #ff8400;
  --color-black: #111111;
  --color-gray-black: #484d50;
  --color-gray: #bebebe;
  --color-gainsboro: gainsboro;
  --color-white: #ffffff;
}

html {
  font-size: 65.7%;
  font-family: 'Poppins Black';
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 4rem;
  padding: 0;
}

#banner-initial {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-yellow);
}

#banner-initial span {
  width: 100%;
  text-align: center;
  color: var(--color-wine);
  font-size: 1.2rem;
  font-family: 'Poppins';
  font-weight: 700;
}

.header {
  height: 115px;
  box-sizing: border-box;
  background: var(--color-wine);
  color: var(--color-white);
  padding: 1rem 16rem 1.6rem 16rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header .header-contact {
  padding: 1rem;
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  opacity: 0.8;
}

.header .header-interacting {
  height: 60%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  padding-left: 40rem;
}

.header-interacting #header-interacting-search-input {
  width: 40rem;
  height: 38px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
}

#header-interacting-search-input::placeholder {
  padding: 0 20px;
  color: var(--color-gray);
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}

.header-interacting-search-label {
  position: relative;
}

.bi-search {
  position: absolute;
  top: 35%;
  right: 20px;
}

.login {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.98rem;
  font-family: 'Poppins', sans-serif;
  line-height: 12px;
  letter-spacing: 1px;
}

.login span {
  display: inline-block;
  width: 15rem;
}

a.login,
a.car {
  color: inherit;
  text-decoration: none;
}

a.car {
  position: relative;
}

.itens-number {
  position: absolute;
  top: -2px;
  right: -8px;
  width: 10px;
  padding: 0.45rem;
  border-radius: 20px;
  background: #6e201b;
  font-size: 0.9rem;
  color: var(--color-white);
}

nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar {
  padding: 0;
  width: 84%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.nav-bar a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.14rem;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: var(--color-gray-black);
}

.nav-bar a.active {
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--color-wine);
}

.nav-bar a.atention {
  padding: 1.15rem 2.3rem;
  border-radius: 4px;
  display: inline-block;
  background: var(--color-orange);
  color: var(--color-white);
}

.banner-main {
  height: 315px;
  margin-bottom: 1.5rem;
  background-color: var(--color-gray);
}

.views-title {
  height: 10px;
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.48rem;
  font-weight: 700;
  color: var(--color-wine);
}

.prev {
  margin: 0 1px;
}

.next {
  margin: 0 1px;
}

.container-second {
  margin: 0 140px;
  overflow: hidden;
}

.views {
  width: 100%;
}

.products-views {
  margin-bottom: 2rem;
  box-sizing: border-box;
  display: grid;
  width: 200%;
  height: 34rem;
  grid-template-columns: repeat(8, calc(95.2% / 8));
  grid-template-rows: 34rem;
  column-gap: 0.6%;

  transition: transform 0.5s ease;
  transform: translateX(0);
}

.product {
  border: solid gainsboro 0.15rem;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.2rem;
  gap: 1rem;
  position: relative;
}

.img-item {
  width: 19rem;
  max-width: 100%;
  align-self: center;
  padding: 0.6rem 0 1rem 0;
}

.product-button {
  border: none;
  width: 100%;
  height: 3.7rem;
  background: var(--color-red);
}

.product-button a {
  height: 3.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 1rem;
  color: var(--color-white);
  text-decoration: none;
}

.product-title {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 12px;
  margin: 0;
}

.product-code {
  color: var(--color-gray-black);
  font-size: 0.9rem;
}

.price-risc {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: 700;
  margin: 0;
}

.price-correct {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.08rem;
  color: var(--color-wine);
  margin: 0;
}

.price-parc {
  color: var(--color-gray-black);
  font-size: 0.9rem;
  margin: 0;
}

.product-sale .product-sale-perc {
  position: absolute;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  top: 0.5rem;
  left: 0.6rem;
  padding: 0.8rem 0.5rem;
  margin: 0;
  color: var(--color-white);
  background: var(--color-red);
}

.product-sale .product-sale-description {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  right: 0.6rem;
  top: 37%;
  padding: 0.5rem 0.6rem;
  color: var(--color-white);
  background: var(--color-red);
}

.product-sale .product-sale-description p {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  width: 7rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

.empty-stock-title {
  width: 10rem;
  align-self: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: gray;
  text-transform: uppercase;
}

.product-button.empty-stock-button {
  background: var(--color-gray);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.banners {
  margin: 5rem 0 2rem 0;
  display: grid;
  row-gap: 6rem;
  column-gap: 1.8rem;
  grid-template-columns: 2fr 1.18fr;
  grid-template-rows: 14rem 29rem;
}

.banner-header {
  margin-top: 1rem;
  grid-column: 1/3;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 1px;
  gap: 1rem;
  padding: 2rem;
}

#banner-header-kit {
  width: 20.5rem;
}

#banner-header-modelo p {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 15px 0 -15px 0;
  font-weight: 800;
  color: var(--color-wine);
}

#banner-header-modelo span {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 8px;
  font-size: 6rem;
  margin: 0;
  font-weight: 800;
  color: var(--color-wine);
}

.banner-header-times {
  display: flex;
  gap: 2rem;
}

.banner-header-times .circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border: solid gainsboro 0.7rem;
  border-top: red 0.7rem solid;
  transform: rotate(45deg);
  border-radius: 50%;
}

.banner-header-times .circulo span {
  font-family: 'Poppins', sans-serif;
  transform: rotate(-45deg);
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--color-gray-black);
}

.banner-header-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.banner-header-time p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-gray-black);
  text-transform: uppercase;
}

#banner-header-link {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--color-yellow);
  background: var(--color-red);
  display: block;
  padding: 10px 15px;
}

.banner-content {
  grid-column: 1/2;
  background-image: url(../img/monitoramento.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

.banner-content-monitoramento {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-white);
  text-decoration: none;
}

.banner-content-monitoramento p {
  font-family: 'Poppins', sans-serif;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  width: 23rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
}

.banner-content-monitoramento span {
  font-family: 'Poppins', sans-serif;

  font-size: 3rem;
  font-weight: 900;
}

.arrow-banner {
  stroke: white;
  stroke-width: 0.15rem;
  padding: 1.5rem;
  border: solid white 2px;
  border-radius: 50%;
}

.banner-aside {
  grid-column: 2/3;
  background: var(--color-gray);
  position: relative;
}

.banner-aside-loja {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-white);
  text-decoration: none;
}

.banner-aside-loja p {
  text-align: right;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
  width: 20rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0;
}

.banner-aside-loja span {
  font-size: 2.4rem;
  font-weight: 600;
}

.slide {
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-slider-category {
  display: grid;
  grid-template-columns: repeat(20, calc(80% / 20));
  grid-template-rows: 130px;
  column-gap: 1%;
  width: 200%;
  list-style: none;
  padding: 0;
  margin: 0;

  transition: transform 0.5s ease;
  transform: translateX(0);
}

.category-container {
  width: 90%;
  overflow-x: hidden;
}

.category-container li {
  padding: 0;
  margin: 0;
  width: 8rem;
}

.category-item {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #888d80;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.category-img {
  padding: 0;
  margin: 0.2rem;
  width: 7rem;
  height: 7rem;
  border: solid #888d80 2px;
  border-radius: 50%;
}

.arrow {
  cursor: pointer;
  align-self: center;
}

.banners-loja {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  gap: 1.6rem;
  margin: 4rem 0 2rem 0;
}

.banner-loja {
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
  align-items: start;
  justify-content: end;
  gap: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-gray);
  text-decoration: none;
  border-radius: 1px;
}

.banner-loja p {
  line-height: 2rem;
  text-align: right;
  letter-spacing: 0.1rem;
  width: 12rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0;
}

.banner-loja span {
  font-size: 2.6rem;
  font-weight: 900;
}

.brands {
  position: relative;
  margin: 2rem 0 5rem 0;
  display: flex;
  flex-direction: column;
}

.brand {
  display: inline-block;
  background: var(--color-gray);
  width: 100%;
  height: 5.8rem;
  border-radius: 2px;
  text-decoration: none;
}

.brands-container {
  width: 90%;
  align-self: center;
  overflow-x: hidden;
}

.container-slider-brands {
  width: 202%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, calc(82% / 12));
  grid-template-rows: 100%;
  column-gap: 1.5%;
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.brands .arrow {
  position: absolute;
  top: 75%;
}
.brands .prev {
  left: 0;
}
.brands .next {
  right: 0;
}

footer header {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-wine);
  padding: 2rem 13rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: var(--color-white);
}

footer header .cadastro {
  width: 320px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

footer header .cadastro span {
  font-weight: 400;
  opacity: 0.8;
}

footer header .cadastro-submit {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

footer header .cadastro-submit + p {
  padding-top: 1rem;
  font-size: 1rem;
  opacity: 0.8;
  margin: 0;
}

footer header .cadastro-submit + p span {
  font-weight: 800;
}

footer header .cadastro-submit input {
  width: 160px;
  height: 45px;
  margin: 0;
  padding: 2px 10px;
  border-radius: 4px;
  border: none;
  color: var(--color-gray);
  font-size: 11px;
}

footer header .cadastro-submit button {
  width: 14rem;
  padding: 5px 10px;
  background-color: #228c22;
  border-radius: 2px;
  height: 4.5rem;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border: none;
}

.sobre {
  background: #ededed;
  padding: 4rem 13rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.sobre-info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.sobre-info h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  color: #888d80;
}

.sobre-info h2 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 1.1rem;
  color: #888d80;
}

.sobre-info p {
  font-family: 'Poppins', sans-serif;
  margin: 4px 0;
  font-size: 1.2rem;
  color: #888d80;
}

.sobre-info-horario {
  padding-top: 6px;
}

.sobre-info {
  display: flex;
  justify-content: space-between;
}

.sobre-info-pag a {
  margin: 0.5px 1px;
  width: 4rem;
  height: 3rem;
  background: var(--color-gray);
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.sobre-info-redes {
  margin: 7rem 7rem 4.5rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  height: 10rem;
  border-top: solid var(--color-gray) 1px;
  border-bottom: solid var(--color-gray) 1px;
}

.sobre-info-redes img {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 15px;
  color: gray;
}

.sobre-info-redes p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  width: 50%;
}

.sobre-info-redes span {
  font-weight: 700;
}

.sobre-info-redes-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.copywriting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: #888d80;
  text-align: center;
}
